set -e
DIR=`pwd`
PATH_add ./.direnv/bin

if [ ! -d ".direnv/python" ]; then
python -m venv .direnv/python
source .direnv/python/bin/activate
pip install -r requirements.txt
python setup.py install
fi
source .direnv/python/bin/activate
# source .direnv/python/bin/activate
# export PYTHONPATH=$(pwd):$(python -c "import sys;print(':'.join(sys.path))")

# env_sh() {
#   cd ../../conf/conn
#   local i
#   for i in $@; do
#     set -o allexport
#     source "$i".sh
#     set +o allexport
#   done
#
#   cd $DIR
#   unset -f env_sh
# }
#
# env_sh host mq backblaze apg kv ak pg
#
# export OSSPUT_BUCKET=xxai-jxl
#
# export BACKBLAZE_url=$BACKBLAZE_URL/$OSSPUT_BUCKET
#
# if [ ! -d "node_modules" ]; then
# ni
# fi
#
